@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body, #__next {
    height: 100%;
    overflow: auto;
    @apply scrollbar scrollbar-thin scrollbar-thumb-primary-ligth scrollbar-track-white text-gray-800 text-sm md:text-base
}
* {
    font-family: 'Montserrat', sans-serif;
    @apply font-light select-none;
}

.btn {
    @apply py-2 ml-5 px-5 bg-primary text-gray-100 focus:outline-none tracking-wide font-normal hover:bg-primary-ligth shadow-lg
}
.block-title {
    @apply uppercase font-medium block px-2 py-1 border-b border-gray-300
}
.odds-btn {
    @apply bg-gray-200 text-xs px-4 cursor-pointer hover:bg-primary align-middle h-full block
}
.odds-btn span{
    @apply font-normal text-blue-600 align-middle block
}
.page-title {
    @apply p-1 uppercase text-xs font-bold
}
.list-styles {
    @apply p-2 hover:bg-green-600 font-medium text-gray-900 hover:text-white border-b border-gray-300
}
.scrollgreen {
    @apply  scrollbar scrollbar-thin scrollbar-thumb-green-600 scrollbar-track-gray-100
}